.sidebar-group {

    .fit {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
    }

    &.closed{

        .sidebar {

            &.sidebar-left {
                left: -230px;
                right: auto;

                .sidebar-item {
                    margin-left: -200px;
                }
            }

            &.sidebar-right {
                left: auto;
                right: -230px;

                .sidebar-item {
                    margin-right: -200px;
                }
            }
        }

        .overlay {
            display: none;
        }
    }

    &.open{
        .sidebar {

            &.sidebar-left {
                left: 0px;
                right: auto;
                
                .sidebar-item {
                    margin-left: 0px;
                }
            }

            &.sidebar-right {
                left: auto;
                right: 0px;
                
                .sidebar-item {
                    margin-right: 0px;
                }
            }
        }

        .overlay {
            display: block;
        }
    }

    .sidebar {
        width: 230px;
        height: 100%;
        overflow: hidden;
        overflow-y: auto;
        transition: 0.3s left ease-in-out;
        

        &.sidebar-left {
            .sidebar-item {
                transition: 0.3s margin-left ease-in-out;        
            }
        }

        &.sidebar-right {
            .sidebar-item {
                transition: 0.3s margin-right ease-in-out;        
            }
        }

        
    }
}